<p><%= @game.attacking_player %> attacked <%= @game.defending_player %></p>
<p><%= @game.player_1.name %> HP: <%= @game.player_1.hp %></p>
<p><%= @game.player_2.name %> HP: <%= @game.player_2.hp %></p>
<a href="/play">Switch Turns</a>